### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# upload csv
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#taking the total number from 'SN' assuming 'SN' is unique per each user
purchase_data_df["SN"].count()

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average purchase price, total number of purchases, total revenue
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [3]:
#unique items
unique_item = len(purchase_data_df['Item Name'].unique())
#average puchase price
average_price = purchase_data_df['Price'].mean()
#total number of purchases
total_purchases = purchase_data_df['Price'].count()
#total revenue
total_revenue = purchase_data_df['Price'].sum()

In [4]:
#create summary data frame to hold results
purchase_analysis_df = pd.DataFrame({"Total Unique Items": [unique_item],
                              "Average Purchase Price": [average_price],
                              "Total Purchases": [total_purchases],
                              "Total Revenue": [total_revenue]})
#display data frame
purchase_analysis_df.head()

   Total Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0                 179                3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#find counts per each gender
gender_count = purchase_data_df['Gender'].value_counts()

#make series into data frame
gender_counts_df = pd.DataFrame(gender_count)

#print
gender_counts_df.head()

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [6]:
#create percentages based on data
#gender_count_df['%'] = (((gender_count_df['Gender'] / gender_count_df['Gender'].sum())*100).round(2).astype(str) + '%')

#gender_count_df.head()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
gender_analysis_df = purchase_data_df.groupby("Gender")

gender_analysis_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [8]:

gender_analysis_df = pd.DataFrame({"Total Unique Items": [unique_item],
                              "Average Purchase Price": [average_price],
                              "Total Purchases": [total_purchases],
                              "Total Revenue": [total_revenue]})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
#create bins
bins = [0, 19.9, 39.9, 59.9, 100]
#name bins
group_names = ["Child", "Young Adult", "Adult", "Elders"]
#apply bins using cut()
purchase_data_df["Age Category"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Young Adult
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,Adult
2,2,Ithergue48,24,Male,92,Final Critic,4.88,Young Adult
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,Young Adult
4,4,Iskosia90,23,Male,131,Fury,1.44,Young Adult

In [22]:
#sort by bins
age_groups = len(purchase_data_df['Age Category'].value_counts()

age_group_df = pd.DataFrame(age_groups)

age_group_df.head()

SyntaxError: invalid syntax (<ipython-input-22-7aced018400b>, line 4)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame